---
import PageTtl from "../../components/page-ttl.astro";
import TextLinkTop from "../../components/textLinkTop.astro";
import Layout from "../../layouts/Layout.astro";

const apiUrl = import.meta.env.MICROCMS_DOMAIN;
const apiKey = import.meta.env.MICROCMS_API_KEY;

const response = await fetch(apiUrl+"?orders=publishedAt", {
  headers: {"Content-Type": "application/json", "X-MICROCMS-API-KEY": apiKey}
  }).then((res) => res.json());

const items = response.contents;
---

<Layout>
  <PageTtl title="ABOUT" />
  <section class="section__wrapper">
    <h2 class="section__ttl">PROFILE</h2>
    <div class="section__inner">
      <table width="100%" cellpadding="5" cellspacing="0">
        <tr>
          <th>名前</th>
          <td>k-haru</td>
        </tr>
        <tr>
          <th>生年月日</th>
          <td>1995年2月9日</td>
        </tr>
      </table>
    </div>
  </section>

  <section class="section__wrapper">
    <h2 class="section__ttl">HISTORY</h2>
    <div class="section__inner">
      <dl class="history__list">
        {items.map((item) => (
          <div class="row">
            <dt>{item.date}</dt>
            <dd>
              <ul class="works-contents">
                {item.contents.split('\n').map((content) => (
                  <li>{content}</li>
                ))}
              </ul>
              <div class="works-tools">
                <p>TOOLS</p>
                <ul class="badge-list">
                  {item.tools.split('\n').map((tool) => (
                    <li class="badge">{tool}</li>
                  ))}
                </ul>
              </div>
            </dd>
          </div>
        ))}
      </dl>
    </div>
  </section>

  <TextLinkTop />
</Layout>

<style lang="scss">
  .section {
    &__ttl {
      display: inline-block;
      padding: 5px 10px;
      color: #fff;
      background-color: #000;
      font-weight: 700;
    }

    &__inner {
      padding: 15px;
      border-style: solid;
      border-width: 1px 4px 4px 1px;
      border-color: #000;

      table {
        tr {
          display: grid;
          grid-template-columns: 90px 1fr;
          align-items: center;
          margin-bottom: 6px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .history {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-left: 10px;

      .row {
        position: relative;
        padding-left: 10px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 1px;
          height: calc(100% + 30px);
          background-color: #000;
        }

        &::after {
          content: '';
          position: absolute;
          top: 5px;
          left: -5px;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #000;
        }

        &:last-child {
          &::before {
            height: 100%;
          }
        }

        dd {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .sm {
          font-size: 1.4rem;

          @media screen and (max-width: 600px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .works {
    &-content {
      padding-left: 1.6em;
      list-style-type: disc;
    }

    &-tools {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        font-weight: 700;
      }
    }
  }

  .badge {
    display: inline-block;
    padding: 5px;
    background-color: #dfdfdf;
    border-radius: 5px;
    font-size: 1.4rem;

    @media screen and (max-width: 500px) {
      font-size: 1.2rem;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style-type: none;
    }
  }
</style>
