---
import PageTtl from "../../components/page-ttl.astro";
import TextLinkTop from "../../components/textLinkTop.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <PageTtl title="ABOUT" />
  <section class="section__wrapper">
    <h2 class="section__ttl">PROFILE</h2>
    <div class="section__inner">
      <table width="100%" cellpadding="5" cellspacing="0">
        <tr>
          <th>名前</th>
          <td>k-haru</td>
        </tr>
        <tr>
          <th>生年月日</th>
          <td>1995年2月9日</td>
        </tr>
      </table>
    </div>
  </section>

  <section class="section__wrapper">
    <h2 class="section__ttl">HISTORY</h2>
    <div class="section__inner">
      <dl class="history__list">
        <div class="row">
          <dt>2013.12 - 2021.6</dt>
          <dd>
            <ul class="works-content">
              <li>自社EC・WEBサイトの更新</li>
              <li>自社ECサイトへの商品登録</li>
              <li>作業マニュアルの作成</li>
            </ul>
            <div class="works-tools">
              <p>TOOLS</p>
              <ul class="badge-list">
                <li class="badge">HTML</li>
                <li class="badge">CSS, SCSS/Sass</li>
                <li class="badge">Javascript</li>
                <li class="badge">楽天市場</li>
                <li class="badge">Google Docs</li>
                <li class="badge">Googleスプレッドシート</li>
                <li class="badge">Googleスライド</li>
              </ul>
            </div>
          </dd>
        </div>
        <div class="row">
          <dt>2021.7 - 2025.12</dt>
          <dd>
            <ul class="works-content">
              <li>ECサイトの構築 <span class="sm">※コーディングのみ</span></li>
              <li>LPのコーディング</li>
              <li>イベントやキャンペーン時の商品ページの更新作業</li>
            </ul>
            <div class="works-tools">
              <p>TOOLS</p>
              <ul class="badge-list">
                <li class="badge">HTML</li>
                <li class="badge">CSS, SCSS/Sass</li>
                <li class="badge">Javascript</li>
                <li class="badge">Vue.js/Nuxt.js</li>
                <li class="badge">Shopify/Liquid</li>
                <li class="badge">Makeshop</li>
                <li class="badge">BASE</li>
                <li class="badge">楽天市場</li>
                <li class="badge">Yahooショッピング</li>
                <li class="badge">Git/Github</li>
              </ul>
            </div>
          </dd>
        </div>
        <div class="row">
          <dt>2025.10 -</dt>
          <dd>
            <ul class="works-content">
              <li>WEBサイトの修正や更新</li>
              <li>LPのコーディング</li>
              <li>Wordpressのアップデート対応</li>
            </ul>
            <div class="works-tools">
              <p>TOOLS</p>
              <ul class="badge-list">
                <li class="badge">HTML</li>
                <li class="badge">CSS, SCSS/Sass</li>
                <li class="badge">Javascript</li>
                <li class="badge">Wordpress</li>
              </ul>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </section>

  <TextLinkTop />
</Layout>

<style lang="scss">
  .section {
    &__ttl {
      display: inline-block;
      padding: 5px 10px;
      color: #fff;
      background-color: #000;
      font-weight: 700;
    }

    &__inner {
      padding: 15px;
      border-style: solid;
      border-width: 1px 4px 4px 1px;
      border-color: #000;

      table {
        tr {
          display: grid;
          grid-template-columns: 90px 1fr;
          align-items: center;
          margin-bottom: 6px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .history {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-left: 10px;

      .row {
        position: relative;
        padding-left: 10px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 1px;
          height: calc(100% + 30px);
          background-color: #000;
        }

        &::after {
          content: '';
          position: absolute;
          top: 5px;
          left: -5px;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #000;
        }

        &:last-child {
          &::before {
            height: 100%;
          }
        }

        dd {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .sm {
          font-size: 1.4rem;

          @media screen and (max-width: 600px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .works {
    &-content {
      padding-left: 1.6em;
      list-style-type: disc;
    }

    &-tools {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        font-weight: 700;
      }
    }
  }

  .badge {
    display: inline-block;
    padding: 5px;
    background-color: #dfdfdf;
    border-radius: 5px;
    font-size: 1.4rem;

    @media screen and (max-width: 500px) {
      font-size: 1.2rem;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style-type: none;
    }
  }
</style>
