---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="main">
    <div class="main__wrapper">
      <h1>PORTFOLIO</h1>

      <div class="main__buttons">
        <a href="">WORKS</a>
        <a href="/portfolio/about">ABOUT</a>
      </div>

      <div class="main__contact">
        <p>お問い合わせなどは、下記メールアドレス宛にお気軽にご連絡ください。</p>
        <div class="email"><code>haru.k.works@gmail.com</code></div>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 860px;
      width: 100%;
      margin: auto;
      padding: 40px;
      border: 1px solid #000;

      h1 {
        font-size: 2rem;
        font-weight: 700;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      gap: 30px;

      a {
        display: block;
        padding: 10px;
        border-style: solid;
        border-width: 1px 4px 4px 1px;
        border-color: #000;
        text-decoration: none;
        transition: transform .3s;

        &:hover {
          border-width: 1px;
          transform: translate(2px, 2px);
        }
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;

      .email {
        display: block;
        padding: 10px;
        background-color: #dfdfdf;
      }
    }
  }
</style>
