---
import Button from '../components/button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="main__wrapper">
    <h1>PORTFOLIO</h1>

    <div class="main__buttons">
      <Button link="/portfolio/works" text="WORKS" disabled="true"/>
      <Button link="/portfolio/about" text="ABOUT"/>
    </div>

    <div class="main__contact">
      <p>お問い合わせなどは、<br class="is-sp">下記メールアドレス宛にお気軽にご連絡ください。</p>
      <div class="email"><code>haru.k.works@gmail.com</code></div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 860px;
      width: 100%;
      margin: auto;
      padding: 40px;
      border: 1px solid #000;

      @media screen and (max-width: 500px) {
        padding: 20px;
      }

      h1 {
        font-size: 2rem;
        font-weight: 700;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    &__contact {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;

      .email {
        display: block;
        padding: 10px;
        background-color: #dfdfdf;
      }
    }
  }

  br.is-sp {
    display: none;

    @media screen and (max-width: 500px) {
      display: block;
    }
  }
</style>
