---
const {link, text, disabled} = Astro.props;
---

<a href={link} class:list={['button', {disabled: disabled}]}>{text}</a>

<style lang="scss">
  .button {
    padding: 5px 10px;
    border-style: solid;
    border-width: 1px 1px 4px 1px;
    border-color: #000;
    transition: transform .3s;

    &:hover {
      border-width: 1px;
      transform: translateY(2px);
    }

    &.disabled {
      pointer-events: none;
      background-color: #ccc;
      border-width: 1px;
    }
  }
</style>
