---
const indexPage = Astro.url.pathname === '/portfolio/';
const worksPage = Astro.url.pathname === '/portfolio/works';
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
		<title>Haruka Kimoto Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+New:wght@500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/portfolio/reset.css">
	</head>
	<body>
    <main class:list={['main', {index: indexPage}, {works: worksPage}]}>
      <slot />
    </main>
	</body>
</html>

<style lang="scss">
  * {
    box-sizing: border-box;
    font-family: "Geist Mono", "Zen Kaku Gothic New", sans-serif;
  }

	html,
  body,
  h1,
  h2,
  h3,
  p {
		margin: 0;
    padding: 0;
	}

  html {
    color: #000;
    background-color: #f2f2f2;
    font-size: 10px;
  }

  body {
    font-size: 1.6rem;

    @media screen and (max-width: 500px) {
      font-size: 1.4rem;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;

    @media screen and (max-width: 500px) {
      padding: 40px 20px;
    }

    &.index {
      height: 100vh;

      @media screen and (max-width: 500px) {
        padding: 40px 20px;
      }
    }

    &.works {
      position: relative;
    }
  }
</style>
